<%include header%>

    <section class="container-fluid bodyLog">
        <div class="row">
            <aside class="col-md-3 logregister">
                <div class="filter-img">
                    <div class="col-md-12 logo">
                        <i class="fas fa-video fa-5x"></i>
                        <h1>Videostars</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-12 sub-title">
                            <span class="col-md-10">Toutes vos bandes-annonces partout où vous voulez</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 espace">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 logBtton">
                            <div class="btn-wrapper">
                                <a href="/register">
                                    <button type="button" class="btn">
                                        Créer un compte
                                    </button>
                                </a>
                            </div>
                            <div class="btn-wrapper">
                                <a href="#">
                                    <button type="button" class="btn loginBtt">
                                        Se connecter
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 espace">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 espace">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 espace">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 espace">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 footer">
                            <span>&copy Videostars 2018</span>
                            <span>Tous droits réservés | Mentions légales</span>
                        </div>
                    </div>

                </div>
            </aside>
            <aside class="col-md-9 imgAll">
                <video autoplay loop class="fillWidth">
                    <source src="public/videobackground/Broadwaycrew.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    <source src="public/videobackground/Broadwaycrew.mp4" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
                <div class="filterblack">
                </div>
                <div class="logBox">

                    <div class="row">

                        <div class="col-md-12 Login">

                            <div class="row top-modal">
                                <i class="far fa-times-circle"></i>
                            </div>
                            <form method="POST" action="/login" autocomplete="off">
                                <div class="log-icons">
                                    <i class="fas fa-video fa-3x"></i>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" required autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Mot de passe" required
                                        autocomplete="off">
                                </div>
                                <div>
                                    <button type="submit" class="btn">Se connecter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </aside>

        </div>
    </section>

    <script>
        $('.loginBtt, .fa-times-circle').click(function () {
            $('.logBox').toggleClass('noHide');
        })
    </script>

    <%include footer%>