<%include header%>

    <body class="bodyHomepage">

        <a href="/home" class="card education">
            <div class="overlay"></div>
            <div class="circle">
                <i class="fas fa-film fa-5x"></i>
            </div>
            <p>Films</p>
        </a>

        <a href="/favorits" class="card credentialing">
            <div class="overlay"></div>
            <div class="circle">
                <i class="fas fa-cloud-upload-alt fa-5x"></i>
            </div>
            <p>Upload et films favorits</p>
        </a>



        <a href="/profil" class="card human-resources">
            <div class="overlay"></div>
            <div class="circle">
                <i class="fas fa-info-circle fa-5x"></i>
            </div>
            <p>Informations Personnels</p>
        </a>


        <a href="/logout" class="card wallet">
            <div class="overlay"></div>
            <div class="circle">
                <i class="fas fa-sign-out-alt fa-5x"></i>
            </div>
            <p>Déconnexion</p>
        </a>


    </body>
    <%include footer%>